{% extends 'base.html.twig' %}

{% block title %}Liste produits{% endblock %}

{% block body %}
    <div class="container">
    <h2 class="text-center mt-4">Liste des produits</h2>
        <a href="{{ path('category_create')}}">
            <button class="btn btn-outline-success float-right mb-2">+ ajouter</button>
        </a>
    <table class="table table-striped table-bordered table-hover">
    <thead>
        <th>id</th>
        <th>libelle</th>
        <th>Action</th>
    </thead>

    <tbody>
        {% for c in categories %}
            <tr>
                <td>{{c.id}}</td>
                <td>{{c.libelle}}</td>
                <td>
                    <a href="{{ path('category_edit', {'id': c.id })}}">
                        <button type="button" class="btn btn-sm btn-primary">modifier</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
{% endblock %}
