<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {#{{ include le navbar }}#}
        {{ include("layouts/navbar.html.twig") }}
            
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        {% endblock %}
        
        {% block javascripts %}
            {# ajouter symfony turbo dans une app symfony #}
            <script type="module">
                import * as Turbo from 'https://cdn.skypack.dev/@hotwired/turbo'
            </script>

        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
